:root {
  --font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",
  
  // Body
  --fs-8: clamp(0.65rem, 0.8vw, 0.75rem);
  --fs-7: clamp(1rem, 1.1vw, 1.25rem);

  // Headings
  --fs-6: clamp(1.25rem, 1.8vw, 1.75rem);
  --fs-5: clamp(1.5rem, 1.8vw, 2rem);
  --fs-4: clamp(1.75rem, 2.9vw, 2.5rem);
  --fs-3: clamp(2rem, 4.7vw, 3rem);
  --fs-2: clamp(2.5rem, 7.3vw, 3.5rem);
  --fs-1: clamp(3rem, 12.2vw, 4rem);


  // Transitions
  --transition-bezier: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}