@use "./variables";

html,
body {
  font-family: var(--font-family);
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-size: var(--fs-7);
  background-color: var(--clr-primary);
  color: var(--clr-text);
  flex: 1;
  width: 100%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: var(--fs-#{$i});
    margin-block: 0;
  }
}

.scroller {
  height: min(100%, 100vh);
  width: 100%;
  overflow-y: auto;
  scroll-snap-type: y mandatory;

  display: flex;
  flex-direction: column;

  .full-page {
    min-height: 100%;
    width: 100%;
    scroll-snap-align: start;
  }
}

#home {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
  }
}

ul.experience-list {
  list-style: none;
  gap: 2rem;
  padding: 2rem;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, min(400px, 100vw));
  grid-auto-rows: minmax(300px, auto);
  scroll-snap-align: auto;
  column-gap: 2rem;
  justify-content: center;

  > li.experience {
    padding: 2rem;
    // max-width: min(300px, 100vw);
    // max-height: min(300px, 100vh);
    // min-width: min(300px, 100vw);
    // min-height: min(300px, 100vh);
    background-color: var(--clr-secondary);
    > .work-timeline {
      font-size: var(--fs-8);
      padding-block: 0.25rem;
    }

    > ul.experience-notes-list {
      padding: 1rem;
      margin: 0;
      overflow-y: auto;
      > li {
        line-height: 1.1;
        padding-block: 0.2em;
      }
    }
  }
}
